.about-block {
  margin-top: 10px;
  background-color: lightgray;
}

.about-block a {
  cursor: pointer;
}

.about-title {
  font-size: 3vh;
}

.about-image {
  height: auto;
  width: auto;
  max-height: 180px;
  max-width: 180px;
  margin: 10px;
}

.about-text {
  font-size: 2.25vh;
  margin: 20px auto 20px auto;
  width: 90%;
}

.about-more-you-know-block {
  height: flex;
}

.about-more-you-know-text {
  font-size: 2.5vh;
}

.about-more-you-know {
  height: auto;
  width: auto;
  max-height: 70px;
  max-width: 70px;
  margin-top: 5px;
}

.about-author {
  font-size: 2vh;
  margin-top: 30px;
}
