.header {
  background-color: var(--background-color);
  height: flex;
  padding: 20px;
  color: white;
}

.header-title-text {
  font-size: 400%;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;
}

.header-title-text-line {
  text-align: center;
  display: block;
}

.header-subtitle-text {
  font-size: 60%;
  padding: 10px;
}

.header-top-image {
  border-radius: 5px;
  height: 80px;
  padding: 5px;
}

.header-nav-items {
  color: lightgray;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header-nav-item {
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  position: relative;
  display: inline-block;
  font-size: 40%;
}

.header-nav-item:hover {
  color: white;
}
