.header {
  background-color: var(--background-color);
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.header-title-text {
  font-size: 10vw;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 5px;
}

.header-title-text-line {
  display: block;
}

.header-subtitle-text {
  font-size: 4vw;
  padding: 10px;
}

.header-top-image {
  border-radius: 5px;
  height: 80px;
  padding: 5px;
}

.header-nav-items {
  color: var(--mid-gray);
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header-nav-item {
  align-items: center;
  cursor: pointer;
  display: inline-block;
  font-size: 3vw;
  justify-content: center;
  margin: 5px;
  position: relative;
  vertical-align: middle;
}

.header-nav-item:hover {
  color: white;
}
