.location-warning {
  background-color: var(--kool-dj-red-alert);
  border: 10px black;
  border-radius: 5px;
  height: auto;
  margin: 10px;
}

.location-warning-text {
  color: var(--background-color);
  font-size: 3vh;
  margin: 2vh auto 2vh auto;
  padding: 1.5vh 0 1.5vh 0;
  text-align: center;
  width: 75%;
}

.location-warning-refresh-button {
  background-color: white;
  border: 5px black;
  border-radius: 5px;
  color: var(--background-color);
  margin-bottom: 2vh;
}

.location-warning-refresh-button:active {
  background-color: lightgray;
}
