.location-warning {
  background-color: lightgray;
  height: 100%;
}

.location-warning-box {
  background-color: var(--kool-dj-red-alert);
  border: 10px black;
  border-radius: 5px;
  height: auto;
  margin: 10px;
}

.location-warning-text {
  color: var(--background-color);
  font-size: 3vh;
  margin: 2vh auto 1vh auto;
  padding: 1.5vh 0 1.5vh 0;
  text-align: center;
  width: 75%;
}

.location-warning-refresh-button {}

.location-warning-refresh-button:active {}

.location-demo {

}

.location-demo-button {}

.location-demo-button:active {}
