.main-bus {
  background-color: lightgray;
  margin: 10px auto 5px auto;
  padding-bottom: 10px;
}

.main-bus-list {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.main-bus-list-item {
  margin-top: 3px;
}
