.main-earthquake {
  background-color: lightgray;
  padding-bottom: 10px;
}

.main-earthquake-text {
  margin: 10px 0 5px 0;
}

.main-earthquake-list {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.main-earthquake-list-item {
  margin-top: 5px;
}

.main-earthquake-list-item:active {
  box-shadow: 0 0 0.5px black;
  transform: translate(1px, 1px);
}


.main-earthquake-list-item-title {
  font-size: larger;
}

.main-earthquake-list-item-body {
  font-size: smaller;
}
